.subtitle_container label {
  margin-right: 15px;
}

.container_after_title label {
  color: #777;
  position: absolute;
  font-size: 1.7em;
  padding: 11px 10px;
}
.container_after_title input {
  font-size: 1.7em;
  width: 100%;
}
