
$blue: #31475D;
$pink:              #F16FA2;
$gray:              #F1F1F1;
$dark-gray:         #434242;
$white:             #FFFFFF;
$black:             #5d5d5d;
$transparent:       transparent;


/* GLOBALS */
$global-title-color:                                                            $pink;
$global-link-color:                                                             $black;
$global-link-color-hover:                                                       $pink;
$global-paragraph-color:                                                        $black;
$global-em-color:                                                               $black;
$global-strong-color:                                                           $black;
$global-list-color:                                                             $black;
$global-blockquote-background:                                                  $gray;
$global-blockquote-border:                                                      1px solid $black;
$global-blockquote-color:                                                       $pink;
$global-cite-color:                                                             $black;
$global-label-color:                                                            $black;
$global-input-color:                                                            $black;
$global-input-background:                                                       $white;
$global-input-border:                                                           1px solid $gray;
$global-input-border-focus:                                                     1px solid $pink;
$global-input-disclaimer-color:                                                 $black;
$global-input-placeholder-color:                                                $black;
$global-form-link-color:                                                        $black;
$global-button-background:                                                      $transparent;
$global-button-border:                                                          1px solid $pink;
$global-button-color:                                                           $pink;
$global-button-background-hover:                                                $pink;
$global-button-border-hover:                                                    1px solid $pink;
$global-button-color-hover:                                                     $white;
$global-figcaption-background:                                                  $white;
$global-figcaption-color:                                                       $black;
$global-separator-color:                                                        $black;

$global-sidebar-submit-background:                                              $pink;
$global-sidebar-submit-border:                                                  1px solid $pink;
$global-sidebar-submit-color:                                                   $white;

$global-tag-category-button-background:                                         $transparent;
$global-tag-category-button-border:                                             2px solid $gray;
$global-tag-category-button-color:                                              $black;
$global-tag-category-button-background-hover:                                   $blue;
$global-tag-category-button-border-hover:                                       2px solid $blue;
$global-tag-category-button-color-hover:                                        $white;

$global-footer-widget-area-button-background:                                   $blue;
$global-footer-widget-area-button-border:                                       1px solid $blue;
$global-footer-widget-area-button-color:                                        $white;
$global-footer-widget-area-button-background-hover:                             $transparent;
$global-footer-widget-area-button-border-hover:                                 1px solid $blue;
$global-footer-widget-area-button-color-hover:                                  $blue;

/* HEADER */
$header-begin-color:                                                            $white;
$header-begin-background-color:                                                 $transparent;
$header-begin-border:                                                           2px solid $white;
$header-toggle-menu-open-icon:                                                  '\f0c9';
$header-toggle-menu-open-background:                                            $gray;
$header-toggle-menu-open-color:                                                 $black;
$header-toggle-menu-close-color:                                                $white;
$header-menu-separator-color:                                                   $gray;
$header-toggle-close-color:                                                     $white;
$header-payoff-color:                                                           $black;
$header-payoff-background:                                                      $pink;

/* HEADER MENU */
$menu-header-menu-bar-background:                                               $white;
$menu-header-menu-toggle-icon-color:                                            $white;
$menu-header-menu-background:                                                   $blue;
$menu-header-menu-md-background:                                                $transparent;
$menu-header-menu-select-background:                                            $gray;
$menu-header-menu-item-color-hover:                                             $pink;
$menu-header-menu-item-color-active:                                            $pink;
$menu-header-menu-border:                                                       1px solid $gray;
$menu-header-menu-sub-item-color-active:                                        $blue;
$menu-header-menu-sub-item-dot-color-active:                                    $pink;
$menu-header-menu-languages-color :                                             $white;
$menu-header-menu-sub-item-color:                                               $white;
$menu-header-menu-md-sub-item-color:                                            $black;
$menu-header-menu-item-color:                                                   $white;
$menu-header-menu-md-item-color:                                                $black;
$menu-header-menu-sub-item-color-hover:                                         $pink;
$menu-header-menu-sub-item-dot-color-hover:                                     $pink;
$menu-header-menu-sub-menu-outer-border:                                        none;
$menu-header-menu-sub-menu-outer-background:                                    #eedae3;
$menu-header-menu-sub-item-icon:                                                '\f111';
$menu-header-menu-md-label-color:                                               $black;
$menu-header-menu-md-menu-item-current-background:                              $pink; // bordo inferiore menu home active
$menu-header-menu-languages-color:                                              $white;
$menu-header-menu-languages-color-active:                                       $pink;
$menu-header-menu-languages-separator:                                          '|';
$menu-header-menu-languages-separator-color:                                    $white;
$menu-header-menu-md-languages-border:                                          1px solid $pink;
$menu-header-menu-md-languages-color:                                           $black;
$menu-header-menu-md-languages-border-hover:                                    1px solid $pink;
$menu-header-menu-md-languages-color-hover:                                     $pink;

/* PRIVACY MENU */
$menu-privacy-menu-item-color:                                                  $pink;
$menu-privacy-menu-item-separator-color:                                        $pink;
$menu-privacy-menu-item-color-hover:                                            $pink;
$menu-privacy-menu-item-separator :                                             '\f111';

/* FOOTER */
$footer-widget-area-1-container-background:                                     $pink;
$footer-widget-area-1-container-border:                                         none;
$footer-widget-area-1-title-color:                                              $white;
$footer-widget-area-1-input-color:                                              $white;
$footer-widget-area-1-disclaimer-color:                                         $white;
$footer-contacts-container-background:                                          $white;
$footer-contacts-container-border:                                              none;
$footer-contacts-color:                                                         $pink;
$footer-contacts-icon-separator-border:                                         none,none,1px solid $blue;
$footer-contacts-icon-color:                                                    $pink;
$footer-contacts-color:                                                         $pink;
$footer-contacts-color-hover:                                                   $pink;
$footer-contacts-title-color:                                                   $pink;
$footer_widget-area-2-container-background:                                     $pink;
$footer-widget-area-2-container-border:                                         none;
$footer-widget-area-2-title-color:                                              $white;
$footer-widget-area-2-separator-color:                                          $pink;
$footer-widget-area-2-color:                                                    $white;
$footer-widget-area-2-color-hover:                                              $white;
$footer-socials-info-container-background:                                      $blue;
$footer-socials-info-container-border:                                          none;
$footer-socials-info-title-color:                                               $white;
$footer-socials-info-contacts-color:                                            $white;
$footer-socials-icon-color:                                                     $white;
$footer-socials-icon-color-hover:                                               $pink;
$footer-disclaimer-container-background:                                        $white;
$footer-disclaimer-container-border:                                            none;
$footer-disclaimer-color:                                                       $black;
$footer-signature-container-background:                                         $white;
$footer-signature-container-border:                                             none;
$footer-signature-color:                                                        $black;
$footer-signature-color-hover :                                                 $pink;

/* CONTENT */
$content-background:                                                            $transparent;
$content-breadcrumbs-color-active:                                              $pink;

/* HALO 8 */
$halo8-slider-controls-icon-color:                                              $white;
$halo8-slider-controls-icon-color-hover:                                        $pink;
$halo8-slider-controls-icon-right :                                             '\f105';
$halo8-slider-controls-icon-left:                                               '\f104';
$halo8-slider-timer-progress-color:                                             $pink;
$halo8-description-color:                                                       $white;
$halo8-shadow:                                                                  $black;


/* VERTICAL MENU */
$menu-vertical-menu-background:                                                 $black;
$menu-vertical-menu-md-background:                                              $black;
$menu-vertical-menu-md-border:                                                  none,none,none,1px solid $pink;
$menu-vertical-menu-dot-background:                                             $dark-gray;
$menu-vertical-menu-dot-background-active:                                      $pink;
$menu-vertical-menu-item-color:                                                 $white;
$menu-vertical-menu-item-color-hover:                                           $pink;
$menu-vertical-menu-border:                                                     1px solid $pink;
$menu-vertical-menu-dot-background-hover:                                       $pink;

/* LAYOUT GRID */
$layouts-posts-grid-post-background:                                            $white;
$layouts-posts-grid-title-color:                                                $pink;
$layouts-posts-grid-info-color:                                                 $dark-gray;
$layouts-posts-grid-info-color-hover:                                           $dark-gray;

/* HALO3 GRID */
$layouts-halo3-grid-title-color:                                                $pink;
$layouts-halo3-grid-background:                                                 $white;
$layouts-halo3-grid-post-background:                                            $white;
$layouts-halo3-grid-title-color:                                                $pink;
$layouts-halo3-grid-info-color:                                                 $dark-gray;
$layouts-halo3-grid-info-color-hover:                                           $pink;

/* HALO3 SLIDESHOW */
$layouts-halo3-slideshow-title-color:                                           $pink;
$layouts-halo3-slideshow-background:                                            $white;
$layouts-halo3-slideshow-post-background:                                       $white;
$layouts-halo3-slideshow-title-color:                                           $pink;
$layouts-halo3-slideshow-info-color:                                            $dark-gray;
$layouts-halo3-slideshow-info-color-hover:                                      $pink;
$layouts-halo3-slideshow-control-color:                                         $white;
$layouts-halo3-slideshow-control-color-hover:                                   $pink;

/* HALO3 COLUMN */
$layouts-halo3-column-title-color:                                              $pink;
$layouts-halo3-column-background:                                               $dark-gray;
$layouts-halo3-column-post-background:                                          $white;
$layouts-halo3-column-title-color:                                              $pink;
$layouts-halo3-column-info-color:                                               $dark-gray;
$layouts-halo3-column-info-color-hover:                                         $pink;

/* PAGE */
$page-contacts-separator:                                                       1px solid $black;
$page-contacts-icon-color:                                                      $black;
$page-contacts-icon-color-hover:                                                $pink;
$page-subpage-color :                                                           $white;
$page-subpage-background:                                                       $pink;
$page-download-box-title-color:                                                 $white;
$page-download-box-background:                                                  $blue;
$page-download-box-button-color:                                                $white;
$page-download-box-button-background:                                           $pink;
$page-download-box-button-border:                                               $pink;

/* COMMENTS */
$comments-title-icon-color:                                                     $pink;
$comments-author-name-color:                                                    $dark-gray;
$comments-author-name-color-hover:                                              $pink;
$comments-meta-data-color:                                                      $dark-gray;
$comments-separator-color:                                                      $dark-gray;
$comments-logged-info-color:                                                    $dark-gray;

/* POSTS GRID */
$posts-grid-title-color:                                                        $dark-gray;
$posts-grid-title-color-hover:                                                  $pink;
$posts-grid-post-border:                                                        $pink;
$posts-grid-author-name-color-hover:                                            $dark-gray;

/* SINGLE */
$single-post-content-background:                                                $white;
$single-post-author-color-hover:                                                $black;
$single-post-meta-separator-color:                                              $black;
$single-post-meta-color:                                                        $black;
$single-social-separator:                                                       3px solid $gray;
$single-post-contacts-color:                                                    $blue;


/* COOKIE NOTICE */
$cookie-notice-button-color:                                                    $white;
$cookie-notice-button-background:                                               $black;

/* CF7 */
$wpcf7-response-border-color:                                                   $pink;
$wpcf7-response-background:                                                     $pink;
$wpcf7-response-color:                                                          $white;

/* SIDEBAR */
$sidebar-widget-background:                                                     $white;
$sidebar-title-color:                                                           $pink;
$sidebar-separator-color:                                                       $transparent;
$sidebar-widget-border:                                                         none;
$sidebar-widget-search-button-background:                                       transparent;
$sidebar-widget-search-icon-color:                                              $black;
$sidebar-link-icon:                                                             '\f0da';
$sidebar-widget-recent-comments-author-icon:                                    '\f040';
$sidebar-widget-recent-comments-post-icon:                                      '\f007';
$sidebar-input-background:                                                      $white;
$sidebar-input-border:                                                          1px solid $pink;

/* SECTION 1 */
$layouts-section1-title-color:                                                  $pink;
$layouts-section1-border:                                                       none;
$layouts-section1-subtitle-color:                                               $black;
$layouts-section1-content-color:                                                $black;
$layouts-section1-background:                                                   $white;
$layouts-section1-read-color:                                                   $pink;
$layouts-section1-read-background:                                              $transparent;
$layouts-section1-read-border:                                                  1px solid $pink;
$layouts-section1-read-color-hover:                                             $white;
$layouts-section1-read-background-hover:                                        $pink;
$layouts-section1-read-border-hover:                                            1px solid $pink;

/* SECTION 2 */
$layouts-section2-title-color:                                                  $pink;
$layouts-section2-border:                                                       none;
$layouts-section2-subtitle-color:                                               $black;
$layouts-section2-content-color:                                                $black;
$layouts-section2-background:                                                   $gray;
$layouts-section2-read-color:                                                   $pink;
$layouts-section2-read-background:                                              $gray;
$layouts-section2-read-border:                                                  1px solid $pink;
$layouts-section2-read-color-hover:                                             $gray;
$layouts-section2-read-background-hover:                                        $pink;
$layouts-section2-read-border-hover:                                            1px solid $pink;

/* SECTION 3 */
$layouts-section3-title-color:                                                  $pink;
$layouts-section3-border:                                                       none;
$layouts-section3-subtitle-color:                                               $black;
$layouts-section3-content-color:                                                $black;
$layouts-section3-background:                                                   $white;
$layouts-section3-read-color:                                                   $pink;
$layouts-section3-read-background:                                              $white;
$layouts-section3-read-border:                                                  1px solid $pink;
$layouts-section3-read-color-hover:                                             $white;
$layouts-section3-read-background-hover:                                        $pink;
$layouts-section3-read-border-hover:                                            1px solid $pink;

$global-acceptance-color:                                                       $blue;
$global-acceptance-link-color:                                                  $blue;


$header-toggle-menu-open-border: none;
$halo8-container-separator: none;

/* UPDATE */
$header-contacts-border: none;
$header-contacts-background : #a6003c;
$header-contacts-color: $white;
