@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Muli');

$text-font:      'Open Sans', sans-serif;
$special-font:   'Muli', sans-serif;
$icon-font: 'FontAwesome';
